.overlay {
    position: absolute; 
    background: rgba(57, 57, 57, 0.6);
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
  }

.overlay_2 {
    inset: 0;
    font-size: 2.5em;
    color: #FFFFFF;
}