#testimonial-wrapper {
    margin-top: 2.5em;
}

#testimonial-heading {
    font-size: 2.2em;
    margin-bottom: 0.5em;
}

#testimonial-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.testimonial-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 20px;
    border-radius: 10px;
}